<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="photos">
    <insert id="save" parameterType="photosDTO">
        insert into photos(user_email, user_name, user_password, user_intro, uploadProfileName, storedProfileName)
        values(#{user_email},#{user_name},#{user_password},#{user_intro},#{uploadProfileName},#{storedProfileName})
    </insert>

    <select id="login" resultType="photosDTO">
        select * from users where user_email = #{user_email} and user_password = #{user_password};
    </select>

    <select id="findByEmail" resultType="photosDTO">
        select * from users where user_email = #{user_email};
    </select>
</mapper>